@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fdfeff;
    font-family: "Open Sans", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
[alt="Logo"]
{
    width: 100px;
    margin-left: 100px;
}
.list{
    display: flex;
    list-style: none;
    
    width: 580px;
    margin-left: 250px;
    justify-content: space-between;
}
.list-item:nth-child(1){
    color: black;
    font-weight: 500;
}
.list-item{
     color: #95a5a6;
}
.nav-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #4ac6f8;
    color: #47b9f6;
    background-color: transparent;
    position: relative;
    bottom: 10px;
    margin-right: 100px;
}
.content1{
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.content1-left-heading{
    font-size: 55px;
}
.content1-left-para{
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
  color: #95a5a6;
}
.content1-left-btn{
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #0684EF;
  color: #ffff;
  border: none;
  border-radius: 10px;
 
}
[alt="Server"]{
    width: 450px;
    margin-right: 100px;
}
.content2{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
[alt="testing"]{
   width: 500px;
}
.content2-right{
    margin-right: 100px;
}
.content2-right-heading{
  font-size: 40px;
  
}
.content2-right-para{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #95a5a6;
}
.content2-right-btn{
   
    margin-top: 30px;
    padding: 12px 45px;
    background-color: #0684EF;
    color: #ffff;
    border: none;
    border-radius: 10px;
}
.content3{
    margin-left: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
     
}
.content3-left-heading{
    font-size: 45px;
}
.content3-left-para{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #95a5a6;
}
.content3-left-btn{
    margin-top: 50px;
    padding: 12px 45px;
    background-color: #0684EF;
    color: #ffff;
    border: none;
    border-radius: 10px;
}
.content3-right>img{
  margin-right: 100px;
  width: 500px;
  position: relative;
  bottom: 90px;
}  
.content4{
    margin-left: 100px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
     
    align-items: center;
}
.content4-right{
     font-size: 45px;
}
.content4-left{
  margin-right: 100px;
  line-height: 1.5;
    font-size: 16px;
    color: #95a5a6;
}
.content5{
    margin-left: 100px;
    margin-top: 100px;
}
.card-pallete1{
    display: flex;
   column-gap: 145px;
}
.card1-head{
  margin-top: 20px;
}
.card1-para{
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #95a5a6;
}
.card-pallete2{
    display: flex;
    column-gap: 145px;
    margin-top: 50px;

}
.content6{
    margin-top: 210px;
    
    background-color: #4ac6f8;
    padding-top: 40px;
    height: 800px;
}
.content6-heading{
    color: #fff;
}
.content6-top{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.content6-bottom{
   display: flex;
   gap: 100px;
   margin-left: 100px;
    
}
 
.content6-card1,.content6-card2,.content6-card3{
    margin-top: 70px;
    margin-left: 50px;
    background-color: #fff;
      padding-top: 15px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 30px;  

}
 
.para{
    margin-top: 20px;
    font-size: 12px;
    color: #95a5a6;
}
.content6-middle{
    margin-top: 60px;
    line-height: 3;
}

.content6-middle>p{
  font-size: 12px;
}
.span{
    margin-left: 20px;
    position: relative;
    bottom: 5px;
  }

  .content6-card1-bottom,.content6-card2-bottom,.content6-card3-bottom{
      
    margin-top: 60px;
    text-align: center;

  }
  .content6-card1-bottom span,.content6-card2-bottom span,.content6-card3-bottom span{
    color: #95a5a6;
  }
  .para1{
    margin-top: 10px;
    font-size: 12px;
    color: #95a5a6;
  }
  .nav-btn1{
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid #4ac6f8;
    color: #47b9f6;
    background-color: transparent;
     font-weight: 700;
     font-size: 14px;
     
  }
  .nav-btn2{
    margin-top: 40px;
    padding: 15px 40px;
    background-color: #0684EF;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  .content7{
   margin-top: 110px;
  }
  .content7-heading{
     text-align: center;
  }
  .content7-heading>h1{
    font-size: 40px;
  }
  .content7-heading>p{
    margin-top: 20px;
    font-size: 14px;
    color: #95a5a6;
  }
  .top-cards{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      gap: 40px;
      
  }
  .customer{
    background-color: #fff;
    padding: 20px 20px;
    padding-bottom: 70px;
    border: 1px solid #e5e5e5;
  }
  .customer p {
  font-size: 14px;
  color: #95a5a6;
  }
  .profile-info{
    display: flex;
    position: relative;
    top: 50px;
  }

  .profile-info img{
        margin-right: 20px;
  }
  .author-info{
    margin-top: 5px;
    line-height: 1.5;
  }
  .author-info>h4{
    font-size: 14px;
  }
  .author-info>p{
    margin-top: 8px;
    font-size: 12px;
  }
  .bottom-cards{
    display: flex;
      justify-content: center;
      margin-top: 50px;
      gap: 40px;
  }
  .customer.card1{
    box-shadow: 0px 0px 8px 1px #95a5a6;
  }
  .content8{
    margin-top: 100px;
    background-image: url(./images/footer-bg.svg);
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    height: 340px;
  }
  .content8-left{
    margin-top: 100px;
  }
  .content8-heading{
    font-size: 40px;
    color: #fff;
  }
  .content8-para{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
  }
  .content8-right>button{
    margin-top: 160px;
    padding: 15px 40px;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    border: 0.5px solid #fff;
    font-size: 15px;
  }
  .footer{
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
  }
  .footer-left{
    margin-right: 190px;
  }
  [alt="footer-logo"]{
       width: 100px;
  }
  .footer-para{
     margin-top: 20px;
     font-size: 14px;
     color: #95a5a6;
     line-height: 1.5;
  }
  .footer-right{
    display: flex;
    gap: 75px;
  }
  .right-para{
    font-size: 14px;
    color: #95a5a6;
    line-height: 3;
  }
  .icon{
    margin-top: 20px;
    width: 30px;
  }
  @media screen and (max-width : 1240px) {
    .nav-btn{
      padding: 10px 10px;
      left: 20px;
      
  }
  .content6-bottom{
    display: flex;
    gap: 0.1px;
    margin-left: 20px;
     
 }
 .content6-card3,.content6-card2,.content6-card1{
  margin-right: 50px;
 }
  
  }
  @media screen and (max-width:985px) {
    .list{
      margin-right: 30px;
      margin-top: 10px;
    }
    .list-item{
       
      display: none;
 }
 .content1-left-heading{
  font-size: 30px;
}
.content1-left-para{
  font-size: 10px;
  color: #95a5a6;
}
[alt="Server"]{
  width: 350px;
  margin-right: 40px;
  margin-left: 80px;
}
[alt="testing"]{
  width: 400px;
}
.content2-right{
  margin-right: 40px;
}
.content2-right-heading{
  font-size: 30px;
  
}
.content2-right-para{
  
  font-size: 10px;
   
}
.content3-left-heading{
  font-size: 30px;
}
.content3-left-para{
 
  font-size: 10px;
 
}
.content3-right>img{
  margin-right: 40px;
  width: 350px;
  position: relative;
  bottom: 90px;
} 
.content4-right{
  font-size: 30px;
}
.content4-left{
  
    font-size: 10px;
    
}
.content5{
  margin-left: 50px;
  margin-right: 20px;
  
}
 
.content6-heading{
  color: #fff;
  font-size: 30px;
}
 
.social-media{
  margin-right: 40px;
}
.content6{
 
  height: 2000px;
  width: 1000px;
  background-color: #4ac6f8;
}
.content6-bottom{
  display: flex;
 flex-direction: column;
 
   
}
.content8{
  margin-top: 100px;
  background-image: url(./images/footer-bg.svg);
  width: 1000px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  height: 340px;
}
 
  }
  @media screen and (max-width: 720px) {
    .nav-button{
         display: none;
    }
    .content1 {
       
      display: flex;
      width: 1000px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .content1-left-heading,.content3-left-heading{
      font-size: 35px;
  }
  .content1-left-para{
    
    font-size: 14px;
     
  }
  .content1-left-btn,.content3-left-btn{
    
    padding: 10px 20px;
     
   }
  [alt="Server"]{
      width: 450px;
      margin-top: 70px;
      margin-right: 100px;
  }
  .content2{
    display: flex;
      width: 1000px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
[alt="testing"]{
   width: 500px;
}
.content2-right{
    margin-right: 100px;
    margin-top: 40px;
}
.content2-right-heading{
  font-size: 35px;
  
}
 
.content2-right-btn{
   
  padding: 10px 20px;
}
.content3{
      display: flex;
      width: 650px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 200px;
}
.content3-right>img{
  margin-top: 80px;
  margin-right: 40px;
}  
.content4{
  margin-left: 100px;
  
  display: flex;
  justify-content: space-between;
  width: 800px;
  flex-direction: column;
  align-items: center;
}
  
  .content4-left{
   
      margin-top: 50px;
      margin-left: 120px;
  }
  .content5{
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
}
.card-pallete1{
    display: flex;
    flex-direction: column;
   row-gap: 145px;
   width: 800px;
   align-items: center;
}
.card-pallete2{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
 row-gap: 145px;
 width: 800px;
 align-items: center;

}
.content7{
  text-align: center;
  width: 1000px;
}
  }